@inject AppTranslate Translate 

<div class="filter-secs">
    <div class="filter-heading">
        <h3>@Translate["Filters"]</h3>
        <a href="javascript:void(0)" title="">@Translate["Clear all filters"]</a>
    </div><!--filter-heading end-->
    <div class="paddy">
        <div class="filter-dd">
            <div class="filter-ttl">
                <h3>@Translate["Skills"]</h3>
                <a href="javascript:void(0)" title="">@Translate["Clear"]</a>
            </div>
            <form>
                <input type="text" name="search-skills" placeholder="@Translate["Search skills"]">
            </form>
        </div>
        <div class="filter-dd">
            <div class="filter-ttl">
                <h3>@Translate["Availabilty"]</h3>
                <a href="javascript:void(0)" title="">@Translate["Clear"]</a>
            </div>
            <ul class="avail-checks arFlip arAlign">
                <li>
                    <input type="radio" name="cc" id="c1">
                    <label for="c1">
                        <span></span>
                    </label>
                    <small>@Translate["Hourly"]</small>
                </li>
                <li>
                    <input type="radio" name="cc" id="c2">
                    <label for="c2">
                        <span></span>
                    </label>
                    <small>@Translate["Part Time"]</small>
                </li>
                <li>
                    <input type="radio" name="cc" id="c3">
                    <label for="c3">
                        <span></span>
                    </label>
                    <small>@Translate["Full Time"]</small>
                </li>
            </ul>
        </div>
        <div class="filter-dd">
            <div class="filter-ttl">
                <h3>@Translate["Job Type"]</h3>
                <a href="javascript:void(0)" title="">@Translate["Clear"]</a>
            </div>
            <form class="job-tp">
                <select>
                    <option>@Translate["Select a job type"]</option>
                    <option>Select a job type</option>
                    <option>Select a job type</option>
                    <option>Select a job type</option>
                </select>
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </form>
        </div>
        <div class="filter-dd">
            <div class="filter-ttl">
                <h3>@Translate["Pay Rate"] / @Translate["Hr"] ($)</h3>
                <a href="javascript:void(0)" title="">@Translate["Clear"]</a>
            </div>
            <div class="rg-slider arFlip ">
                <input class="rn-slider slider-input" type="hidden" value="5,50" />
            </div>
            <div class="rg-limit">
                <h4>1</h4>
                <h4>100+</h4>
            </div><!--rg-limit end-->
        </div>
        <div class="filter-dd">
            <div class="filter-ttl">
                <h3>@Translate["Experience Level"]</h3>
                <a href="javascript:void(0)" title="">@Translate["Clear"]</a>
            </div>
            <form class="job-tp">
                <select>
                    <option>@Translate["Select a experience level"]</option>
                    <option>3 years</option>
                    <option>4 years</option>
                    <option>5 years</option>
                </select>
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </form>
        </div>
        <div class="filter-dd">
            <div class="filter-ttl">
                <h3>@Translate["Countries"]</h3>
                <a href="javascript:void(0)" title="">@Translate["Clear"]</a>
            </div>
            <form class="job-tp">
                <select>
                    <option>@Translate["Select a country"]</option>
                    <option>United Kingdom</option>
                    <option>United States</option>
                    <option>Russia</option>
                </select>
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </form>
        </div>
    </div>
</div><!--filter-secs end-->
@code {

}
