@inject AppTranslate Translate


<div class="top-profiles">
    <div class="pf-hd">
        <h3>@Translate["Top Profiles"]</h3>
        <i class="la la-ellipsis-v"></i>
    </div>
    <div class="profiles-slider">

        <div class="user-profy">
            <img src="template/images/via/57x57.png" alt="">
            <h3>John Doe</h3>
            <span>Graphic Designer</span>
            <ul>
                <li><a href="javascript:void(0)" title="" class="followw">@Translate["Follow"]</a></li>
                <li><a href="javascript:void(0)" title="" class="envlp"><img src="template/images/envelop.png" alt=""></a></li>
                <li><a href="javascript:void(0)" title="" class="hire">@Translate["hire"]</a></li>
            </ul>
            <a href="javascript:void(0)" title="">@Translate["View Profile"]</a>
        </div><!--user-profy end-->

        <div class="user-profy">
            <img src="template/images/via/57x57.png" alt="">
            <h3>John Doe</h3>
            <span>Graphic Designer</span>
            <ul>
                <li><a href="javascript:void(0)" title="" class="followw">@Translate["Follow"]</a></li>
                <li><a href="javascript:void(0)" title="" class="envlp"><img src="template/images/envelop.png" alt=""></a></li>
                <li><a href="javascript:void(0)" title="" class="hire">@Translate["hire"]</a></li>
            </ul>
            <a href="javascript:void(0)" title="">@Translate["View Profile"]</a>
        </div><!--user-profy end-->



        <div class="user-profy">
            <img src="template/images/via/57x57.png" alt="">
            <h3>John Doe</h3>
            <span>Graphic Designer</span>
            <ul>
                <li><a href="javascript:void(0)" title="" class="followw">@Translate["Follow"]</a></li>
                <li><a href="javascript:void(0)" title="" class="envlp"><img src="template/images/envelop.png" alt=""></a></li>
                <li><a href="javascript:void(0)" title="" class="hire">@Translate["hire"]</a></li>
            </ul>
            <a href="javascript:void(0)" title="">@Translate["View Profile"]</a>
        </div><!--user-profy end-->


        <div class="user-profy">
            <img src="template/images/via/57x57.png" alt="">
            <h3>John Doe</h3>
            <span>Graphic Designer</span>
            <ul>
                <li><a href="javascript:void(0)" title="" class="followw">@Translate["Follow"]</a></li>
                <li><a href="javascript:void(0)" title="" class="envlp"><img src="template/images/envelop.png" alt=""></a></li>
                <li><a href="javascript:void(0)" title="" class="hire">@Translate["hire"]</a></li>
            </ul>
            <a href="javascript:void(0)" title="">@Translate["View Profile"]</a>
        </div><!--user-profy end-->


        <div class="user-profy">
            <img src="template/images/via/57x57.png" alt="">
            <h3>John Doe</h3>
            <span>Graphic Designer</span>
            <ul>
                <li><a href="javascript:void(0)" title="" class="followw">@Translate["Follow"]</a></li>
                <li><a href="javascript:void(0)" title="" class="envlp"><img src="template/images/envelop.png" alt=""></a></li>
                <li><a href="javascript:void(0)" title="" class="hire">@Translate["hire"]</a></li>
            </ul>
            <a href="javascript:void(0)" title="">@Translate["View Profile"]</a>
        </div><!--user-profy end-->


        <div class="user-profy">
            <img src="template/images/via/57x57.png" alt="">
            <h3>John Doe</h3>
            <span>Graphic Designer</span>
            <ul>
                <li><a href="javascript:void(0)" title="" class="followw">@Translate["Follow"]</a></li>
                <li><a href="javascript:void(0)" title="" class="envlp"><img src="template/images/envelop.png" alt=""></a></li>
                <li><a href="javascript:void(0)" title="" class="hire">@Translate["hire"]</a></li>
            </ul>
            <a href="javascript:void(0)" title="">@Translate["View Profile"]</a>
        </div><!--user-profy end-->


    </div><!--profiles-slider end-->
</div><!--top-profiles end-->

@code {

}
