
@inject AppTranslate Translate

<div class="product-feed-tab arAlign " id="info-dd">
    <div class="user-profile-ov">
        <h3>
            <a href="javascript:void(0)" title="" class="overview-open">
                @Translate["Overview"]
            </a> <a href="javascript:void(0)" title="" class="overview-open"><i class="fa fa-pencil"></i></a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. Nunc eu augue nec arcu efficitur faucibus. Aliquam accumsan ac magna convallis bibendum. Quisque laoreet augue eget augue fermentum scelerisque. Vivamus dignissim mollis est dictum blandit. Nam porta auctor neque sed congue. Nullam rutrum eget ex at maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget vestibulum lorem.</p>
    </div><!--user-profile-ov end-->
    <div class="user-profile-ov st2">
        <h3>
            <a href="javascript:void(0)" title="" class="exp-bx-open">
                @Translate["Experience"]
            </a><a href="javascript:void(0)" title="" class="exp-bx-open"><i class="fa fa-pencil"></i></a> <a href="javascript:void(0)" title="" class="exp-bx-open"><i class="fa fa-plus-square"></i></a>
        </h3>
        <h4>Web designer <a href="javascript:void(0)" title=""><i class="fa fa-pencil"></i></a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
        <h4>UI / UX Designer <a href="javascript:void(0)" title=""><i class="fa fa-pencil"></i></a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id.</p>
        <h4>PHP developer <a href="javascript:void(0)" title=""><i class="fa fa-pencil"></i></a></h4>
        <p class="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
    </div><!--user-profile-ov end-->
    <div class="user-profile-ov">
        <h3>
            <a href="javascript:void(0)" title="" class="ed-box-open">
                @Translate["Education"]
            </a> <a href="javascript:void(0)" title="" class="ed-box-open"><i class="fa fa-pencil"></i></a> <a href="javascript:void(0)" title=""><i class="fa fa-plus-square"></i></a>
        </h3>
        <h4>Master of Computer Science</h4>
        <span>2015 - 2018</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor aliquam felis, nec condimentum ipsum commodo id. Vivamus sit amet augue nec urna efficitur tincidunt. Vivamus consectetur aliquam lectus commodo viverra. </p>
    </div><!--user-profile-ov end-->
    <div class="user-profile-ov">
        <h3>
            <a href="javascript:void(0)" title="" class="lct-box-open">
                @Translate["Location"]
            </a> <a href="javascript:void(0)" title="" class="lct-box-open"><i class="fa fa-pencil"></i></a> <a href="javascript:void(0)" title=""><i class="fa fa-plus-square"></i></a>
        </h3>
        <h4>India</h4>
        <p>151/4 BT Chownk, Delhi </p>
    </div><!--user-profile-ov end-->
    <div class="user-profile-ov">
        <h3>
            <a href="javascript:void(0)" title="" class="skills-open">
                @Translate["Skills"]
            </a> <a href="javascript:void(0)" title="" class="skills-open"><i class="fa fa-pencil"></i></a> <a href="javascript:void(0)"><i class="fa fa-plus-square"></i></a>
        </h3>
        <ul>
            <li><a href="javascript:void(0)" title="">HTML</a></li>
            <li><a href="javascript:void(0)" title="">PHP</a></li>
            <li><a href="javascript:void(0)" title="">CSS</a></li>
            <li><a href="javascript:void(0)" title="">Javascript</a></li>
            <li><a href="javascript:void(0)" title="">Wordpress</a></li>
            <li><a href="javascript:void(0)" title="">Photoshop</a></li>
            <li><a href="javascript:void(0)" title="">Illustrator</a></li>
            <li><a href="javascript:void(0)" title="">Corel Draw</a></li>
        </ul>
    </div><!--user-profile-ov end-->
</div><!--product-info-tab end-->

@code {

}
