@inject AppTranslate Translate


<div class="post-bar">
    <div class="post_topbar">
        <div class="usy-dt">
            <img src="template/images/via/50x50.png" alt="">
            <div class="usy-name arFlip">
                <h3 class="arFlip-1 arAlign">John Doe</h3>
                <span><img src="template/images/clock.png" alt="">3 min ago</span>
            </div>
        </div>
        <div class="ed-opts">
            <a href="javascript:void(0)" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
            <ul class="ed-options arFlip arAlign">
                <li><a href="javascript:void(0)" title="">@Translate["Edit Post"]</a></li>
                <li><a href="javascript:void(0)" title="">@Translate["Unsaved"]</a></li>
                <li><a href="javascript:void(0)" title="">@Translate["Unbid"]</a></li>
                <li><a href="javascript:void(0)" title="">@Translate["Close"]</a></li>
                <li><a href="javascript:void(0)" title="">@Translate["Hide"]</a></li>
            </ul>
        </div>
    </div>
    <div class="epi-sec">
        <ul class="descp">
            <li><img src="template/images/icon8.png" alt=""><span>Front End Developer</span></li>
            <li><img src="template/images/icon9.png" alt=""><span>India</span></li>
        </ul>
        <ul class="bk-links">
            <li><a href="javascript:void(0)" title=""><i class="la la-bookmark"></i></a></li>
            <li><a href="javascript:void(0)" title=""><i class="la la-envelope"></i></a></li>
            <li><a href="javascript:void(0)" title="" class="bid_now">Bid Now</a></li>
        </ul>
    </div>
    <div class="job_descp">
        <h3 class="arAlign">Simple Classified Site</h3>
        <ul class="job-dt">
            <li class="arFlip"><span>$300 - $350</span></li>
        </ul>
        <p class="arAlign">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet...
            <a href="javascript:void(0)" title="">@Translate["view more"]</a>
        </p>
        <ul class="skill-tags">
            <li><a href="javascript:void(0)" title="">HTML</a></li>
            <li><a href="javascript:void(0)" title="">PHP</a></li>
            <li><a href="javascript:void(0)" title="">CSS</a></li>
            <li><a href="javascript:void(0)" title="">Javascript</a></li>
            <li><a href="javascript:void(0)" title="">Wordpress</a></li>
            <li><a href="javascript:void(0)" title="">Photoshop</a></li>
            <li><a href="javascript:void(0)" title="">Illustrator</a></li>
            <li><a href="javascript:void(0)" title="">Corel Draw</a></li>
        </ul>
    </div>
    <div class="job-status-bar">
        <ul class="like-com">
            <li>
                <a href="javascript:void(0)"><i class="la la-heart"></i> @Translate["Like"]</a>
                <img src="template/images/liked-img.png" alt="">
                <span>25</span>
            </li>
            <li><a href="javascript:void(0)" title="" class="com"><img src="template/images/com.png" alt=""> @Translate["Comment"] 15</a></li>
        </ul>
        <a><i class="la la-eye"></i>@Translate["Views"] 50</a>
    </div>
</div><!--post-bar end-->

@code {

}
