@page "/MyProfile"
@inject AppTranslate Translate

<CallJavascript />


<Cover />


<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="main-left-sidebar">
                            <div class="user_profile">
                                <div class="user-pro-img">
                                    <img src="template/images/via/170x170.png" alt="">
                                    <a href="javascript:void(0)" title=""><i class="fa fa-camera"></i></a>
                                </div><!--user-pro-img end-->
                                <div class="user_pro_status">
                                    @*<ul class="flw-hr">
                                            <li><a href="javascript:void(0)" title="" class="flww"><i class="la la-plus"></i> Follow</a></li>
                                            <li><a href="javascript:void(0)" title="" class="hre">Hire</a></li>
                                        </ul>*@
                                    <ul class="flw-status">
                                        <li>
                                            <span>@Translate["Following"]</span>
                                            <b>@(ProfileDto?.Following?.Length??0)</b>
                                        </li>
                                        <li>
                                            <span>@Translate["Followers"]</span>
                                            <b>@(ProfileDto?.Followers?.Length??0)</b>
                                        </li>
                                    </ul>
                                </div><!--user_pro_status end-->
                                <ul class="social_links">
                                    <li><a href="javascript:void(0)" title=""><i class="la la-globe"></i> www.example.com</a></li>
                                    <li><a href="javascript:void(0)" title=""><i class="fa fa-facebook-square"></i> Http://www.facebook.com/john...</a></li>
                                </ul>
                            </div><!--user_profile end-->

                            <Suggestion Title="People Viewed Profil" />

                        </div><!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="main-ws-sec">
                            <div class="user-tab-sec">
                                <h3 class="arAlign">@ProfileDto?.FullName</h3>

                                <div class="star-descp">
                                    <span>@ProfileDto?.Headline</span>

                                    <Stars Star="3.2" />

                                    @*<a href="javascript:void(0)" title="">Status</a>*@
                                </div><!--star-descp end-->


                                <div class="tab-feed st2">
                                    <ul>
                                        <li data-tab="feed-dd" class="active">
                                            <a href="javascript:void(0)" title="">
                                                <img src="template/images/ic1.png" alt="">
                                                <span>@Translate["Feed"]</span>
                                            </a>
                                        </li>
                                        <li data-tab="info-dd">
                                            <a href="javascript:void(0)" title="">
                                                <img src="template/images/ic2.png" alt="">
                                                <span>@Translate["Info"]</span>
                                            </a>
                                        </li>
                                        <li data-tab="saved-jobs">
                                            <a href="javascript:void(0)" title="">
                                                <img src="template/images/ic4.png" alt="">
                                                <span>@Translate["Saved Jobs"]</span>
                                            </a>
                                        </li>
                                        <li data-tab="my-bids">
                                            <a href="javascript:void(0)" title="">
                                                <img src="template/images/ic5.png" alt="">
                                                <span>@Translate["My Bids"]</span>
                                            </a>
                                        </li>
                                        <li data-tab="portfolio-dd">
                                            <a href="javascript:void(0)" title="">
                                                <img src="template/images/ic3.png" alt="">
                                                <span>@Translate["Portfolio"]</span>
                                            </a>
                                        </li>
                                        <li data-tab="payment-dd">
                                            <a href="javascript:void(0)" title="">
                                                <img src="template/images/ic6.png" alt="">
                                                <span>@Translate["Payment"]</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- tab-feed end-->


                            </div><!--user-tab-sec end-->



                            <div class="product-feed-tab current" id="feed-dd">

                                <PostActionBar />

                                <div class="posts-section">

                                    <JobPost />
                                    <Bounce />

                                </div><!--posts-section end-->
                            </div><!--product-feed-tab end-->

                      
                        <ProfileInfo/>


                            <div class="product-feed-tab" id="saved-jobs">
                                <div class="posts-section">
                                    <JobPost />
                                    <Bounce />

                                </div><!--posts-section end-->
                            </div><!--product-feed-tab end-->


                            <div class="product-feed-tab" id="my-bids">
                                <div class="posts-section">
                                    <ProjectPost />
                                    <Bounce />
                                </div><!--posts-section end-->
                            </div><!--product-feed-tab end-->

                         <ProfileProtfolio/>

                            <div class="product-feed-tab" id="payment-dd">
                                <div class="billing-method">
                                    <ul>
                                        <li>
                                            <h3>@Translate["Add Billing Method"]</h3>
                                            <a href="javascript:void(0)" title=""><i class="fa fa-plus-circle"></i></a>
                                        </li>
                                        <li>
                                            <h3>@Translate["See Activity"]</h3>
                                            <a href="javascript:void(0)" title="">@Translate["View All"]</a>
                                        </li>
                                        <li>
                                            <h3>@Translate["Total Money"]</h3>
                                            <span>$0.00</span>
                                        </li>
                                    </ul>
                                    <div class="lt-sec">
                                        <img src="template/images/lt-icon.png" alt="">
                                        <h4>@Translate["All your transactions are saved here"]</h4>
                                        <a href="javascript:void(0)" title="">@Translate["Click Here"]</a>
                                    </div>
                                </div><!--billing-method end-->
                                <div class="add-billing-method arAlign">
                                    <h3>@Translate["Add Billing Method"]</h3>
                                    <h4 class="arFlip-1"><img src="template/images/dlr-icon.png" alt="">
                                    <span>@Translate["With jolijober payment protection , only pay for work delivered"].</span></h4>
                                   
                                <div class="payment_methods">
                                        <h4>@Translate["Credit or Debit Cards"]</h4>
                                        <form >
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="cc-head arFlip">
                                                        <h5>@Translate["Card Number"]</h5>
                                                        <ul>
                                                            <li><img src="template/images/cc-icon1.png" alt=""></li>
                                                            <li><img src="template/images/cc-icon2.png" alt=""></li>
                                                            <li><img src="template/images/cc-icon3.png" alt=""></li>
                                                            <li><img src="template/images/cc-icon4.png" alt=""></li>
                                                        </ul>
                                                    </div>
                                                    <div class="inpt-field pd-moree">
                                                        <input type="text" name="cc-number" placeholder="">
                                                        <i class="fa fa-credit-card"></i>
                                                    </div><!--inpt-field end-->
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="cc-head arFlip">
                                                        <h5>@Translate["First Name"]</h5>
                                                    </div>
                                                    <div class="inpt-field">
                                                        <input type="text" name="f-name" placeholder="">
                                                    </div><!--inpt-field end-->
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="cc-head arFlip">
                                                        <h5>@Translate["Last Name"]</h5>
                                                    </div>
                                                    <div class="inpt-field">
                                                        <input type="text" name="l-name" placeholder="">
                                                    </div><!--inpt-field end-->
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="cc-head arFlip">
                                                        <h5>@Translate["Expiresons"]</h5>
                                                    </div>
                                                    <div class="rowwy">
                                                        <div class="row">
                                                            <div class="col-lg-6 pd-left-none no-pd">
                                                                <div class="inpt-field">
                                                                    <input type="text" name="f-name" placeholder="">
                                                                </div><!--inpt-field end-->
                                                            </div>
                                                            <div class="col-lg-6 pd-right-none no-pd">
                                                                <div class="inpt-field">
                                                                    <input type="text" name="f-name" placeholder="">
                                                                </div><!--inpt-field end-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="cc-head arFlip">
                                                        <h5>Cvv (@Translate["Security Code"]) <i class="fa fa-question-circle"></i></h5>
                                                    </div>
                                                    <div class="inpt-field">
                                                        <input type="text" name="l-name" placeholder="">
                                                    </div><!--inpt-field end-->
                                                </div>
                                                <div class="col-lg-12 arFlip">
                                                    <button type="submit">@Translate["Continue"]</button>
                                                </div>
                                            </div>
                                        </form>
                                        <h4>@Translate["Add Paypal Account"]</h4>
                                    </div>
                                </div><!--add-billing-method end-->
                            </div><!--product-feed-tab end-->
                        </div><!--main-ws-sec end-->
                    </div>

                    <div class="col-lg-3">
                        <div class="right-sidebar">
                            <div class="message-btn">
                                <a href="javascript:void(0)" title=""><i class="fa fa-envelope"></i>@Translate["Message"]</a>
                            </div>
                            <div class="widget widget-portfolio">
                                <div class="wd-heady">
                                    <h3>@Translate["Portfolio"]</h3>
                                    <img src="template/images/photo-icon.png" alt="">
                                </div>
                                <div class="pf-gallery">
                                    <ul>
                                        <li><a href="javascript:void(0)" title=""><img src="template/images/via/70x70.png" alt=""></a></li>
                                    </ul>
                                </div><!--pf-gallery end-->
                            </div><!--widget-portfolio end-->
                        </div><!--right-sidebar end-->
                    </div>
                </div>
            </div><!-- main-section-data end-->
        </div>
    </div>
</main>




<div class="overview-box" id="overview-box">
    <div class="overview-edit">
        <h3 class="arAlign">@Translate["Overview"]</h3>
        <span>5000 @Translate["character left"]</span>
        <form>
            <textarea></textarea>
            <button type="button" class="save">@Translate["Save"]</button>
            <button type="button" class="cancel">@Translate["Cancel"]</button>
        </form>
        <a href="javascript:void(0)" title="" class="close-box"><i class="la la-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->


<div class="overview-box" id="experience-box">
    <div class="overview-edit">
        <h3 class="arAlign">@Translate["Experience"]</h3>
        <form>
            <input type="text" name="subject" placeholder="@Translate["Subject"]">
            <textarea></textarea>
            <button type="button" class="save">@Translate["Save"]</button>
            <button type="button" class="save-add">@Translate["Save & Add More"]</button>
            <button type="button" class="cancel">@Translate["Cancel"]</button>
        </form>
        <a href="javascript:void(0)" title="" class="close-box"><i class="la la-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->

<div class="overview-box" id="education-box">
    <div class="overview-edit">
        <h3 class="arAlign">@Translate["Education"]</h3>
        <form>
            <input type="text" name="school" placeholder="@Translate["School / University"]">
            <div class="datepicky">
                <div class="row">
                    <div class="col-lg-6 no-left-pd">
                        <div class="datefm">
                            <input type="text" name="from" placeholder="@Translate["From"]" class="datepicker">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="col-lg-6 no-righ-pd">
                        <div class="datefm">
                            <input type="text" name="to" placeholder="@Translate["To"]" class="datepicker">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <input type="text" name="degree" placeholder="@Translate["Degree"]">
            <textarea placeholder="@Translate["Description"]"></textarea>
            <button type="button" class="save">@Translate["Save"]</button>
            <button type="button" class="save-add">@Translate["Save & Add More"]</button>
            <button type="button" class="cancel">@Translate["Cancel"]</button>
        </form>
        <a href="javascript:void(0)" title="" class="close-box"><i class="la la-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->

<div class="overview-box" id="location-box">
    <div class="overview-edit">
        <h3 class="arAlign">@Translate["Location"]</h3>
        <form>
            <div class="datefm">
                <select>
                    <option>@Translate["Country"]</option>
                    <option value="pakistan">Pakistan</option>
                    <option value="england">England</option>
                    <option value="india">India</option>
                    <option value="usa">United Sates</option>
                </select>
                <i class="fa fa-globe"></i>
            </div>
            <div class="datefm">
                <select>
                    <option>@Translate["City"]</option>
                    <option value="london">London</option>
                    <option value="new-york">New York</option>
                    <option value="sydney">Sydney</option>
                    <option value="chicago">Chicago</option>
                </select>
                <i class="fa fa-map-marker"></i>
            </div>
            <button type="button" class="save">@Translate["Save"]</button>
            <button type="button" class="cancel">@Translate["Cancel"]</button>
        </form>
        <a href="javascript:void(0)" title="" class="close-box"><i class="la la-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->

<div class="overview-box" id="skills-box">
    <div class="overview-edit">
        <h3>@Translate["Skills"]</h3>
        <ul>
            <li><a href="javascript:void(0)" title="" class="skl-name">HTML</a><a href="javascript:void(0)" title="" class="close-skl"><i class="la la-close"></i></a></li>
            <li><a href="javascript:void(0)" title="" class="skl-name">php</a><a href="javascript:void(0)" title="" class="close-skl"><i class="la la-close"></i></a></li>
            <li><a href="javascript:void(0)" title="" class="skl-name">css</a><a href="javascript:void(0)" title="" class="close-skl"><i class="la la-close"></i></a></li>
        </ul>
        <form>
            <input type="text" name="skills" placeholder="@Translate["Skills"]">
            <button type="button" class="save">@Translate["Save"]</button>
            <button type="button" class="save-add">@Translate["Save & Add More"]</button>
            <button type="button" class="cancel">@Translate["Cancel"]</button>
        </form>
        <a href="javascript:void(0)" title="" class="close-box"><i class="la la-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->

<div class="overview-box" id="create-portfolio">
    <div class="overview-edit">
        <h3 class="arAlign">@Translate["Create Portfolio"]</h3>
        <form>
            <input type="text" name="pf-name" placeholder="@Translate["Portfolio Name"]">
            <div class="file-submit">
                <input type="file" name="file">
            </div>
            <div class="pf-img">
                <img src="template/images/via/60x60.png" alt="">
            </div>
            <input type="text" name="website-url" placeholder="htp://www.example.com">
            <button type="button" class="save">@Translate["Save"]</button>
            <button type="button" class="cancel">@Translate["Cancel"]</button>
        </form>
        <a href="javascript:void(0)" title="" class="close-box"><i class="la la-close"></i></a>
    </div><!--overview-edit end-->
</div><!--overview-box end-->
