@page "/Profile"
<CallJavascript />

@inject AppTranslate  Translate

<section class="cover-sec">
    <img src="template/images/via/1600x400.png" alt="">
</section>


<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="main-left-sidebar">
                            <div class="user_profile">
                                <div class="user-pro-img">
                                    <img src="template/images/via/170x170.png" alt="">
                                </div><!--user-pro-img end-->
                                <div class="user_pro_status">
                                    <ul class="flw-hr">
                                        <li><a href="javascript:void(0)" title="" class="flww"><i class="la la-plus"></i> @Translate["Follow"]</a></li>
                                        <li><a href="javascript:void(0)" title="" class="hre">@Translate["Hire"]</a></li>
                                    </ul>
                                    <ul class="flw-status">
                                        <li class="arFlip">
                                            <span class="arFlip-1">@Translate["Following"]</span>
                                            <b>34</b>
                                        </li>
                                        <li class="arFlip">
                                            <span class="arFlip-1">@Translate["Followers"]</span>
                                            <b>155</b>
                                        </li>
                                    </ul>
                                </div><!--user_pro_status end-->
                                <ul class="social_links">
                                    <li><a href="javascript:void(0)" title=""><i class="la la-globe"></i> www.example.com</a></li>
                                    <li><a href="javascript:void(0)" title=""><i class="fa fa-facebook-square"></i> Http://www.facebook.com/john...</a></li>
                                    <li><a href="javascript:void(0)" title=""><i class="fa fa-twitter"></i> Http://www.Twitter.com/john...</a></li>
                                    <li><a href="javascript:void(0)" title=""><i class="fa fa-google-plus-square"></i> Http://www.googleplus.com/john...</a></li>
                                    <li><a href="javascript:void(0)" title=""><i class="fa fa-behance-square"></i> Http://www.behance.com/john...</a></li>
                                    <li><a href="javascript:void(0)" title=""><i class="fa fa-pinterest"></i> Http://www.pinterest.com/john...</a></li>
                                    <li><a href="javascript:void(0)" title=""><i class="fa fa-instagram"></i> Http://www.instagram.com/john...</a></li>
                                    <li><a href="javascript:void(0)" title=""><i class="fa fa-youtube"></i> Http://www.youtube.com/john...</a></li>
                                </ul>
                            </div><!--user_profile end-->

                            <Suggestion Title="Suggestions" />


                        </div><!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="main-ws-sec">
                            <div class="user-tab-sec">
                                <h3 class="arAlign">John Doe</h3>
                                <div class="star-descp">
                                    <span>Graphic Designer at Self Employed</span>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-o"></i></li>
                                    </ul>
                                </div><!--star-descp end-->
                                <div class="tab-feed">
                                    <ul>
                                        <li data-tab="feed-dd" class="active">
                                            <a href="javascript:void(0)" title="">
                                                <img src="template/images/ic1.png" alt="">
                                                <span>Feed</span>
                                            </a>
                                        </li>
                                        <li data-tab="info-dd">
                                            <a href="javascript:void(0)" title="">
                                                <img src="template/images/ic2.png" alt="">
                                                <span>Info</span>
                                            </a>
                                        </li>
                                        <li data-tab="portfolio-dd">
                                            <a href="javascript:void(0)" title="">
                                                <img src="template/images/ic3.png" alt="">
                                                <span>Portfolio</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- tab-feed end-->
                            </div><!--user-tab-sec end-->
                            <div class="product-feed-tab current" id="feed-dd">
                                <div class="posts-section">

                                    <JobPost />
                                    <ProjectPost />
                                    <Bounce />

                                </div><!--posts-section end-->
                            </div><!--product-feed-tab end-->

                            <ProfileInfo />

                            <ProfileProtfolio />


                        </div><!--main-ws-sec end-->
                    </div>
                    <div class="col-lg-3">
                        <div class="right-sidebar">
                            <div class="message-btn">
                                <a href="javascript:void(0)" title=""><i class="fa fa-envelope"></i> @Translate["Message"]</a>
                            </div>
                            <div class="widget widget-portfolio">
                                <div class="wd-heady">
                                    <h3>@Translate["Portfolio"]</h3>
                                    <img src="template/images/photo-icon.png" alt="">
                                </div>
                                <div class="pf-gallery">
                                    <ul>
                                        <li><a href="javascript:void(0)" title=""><img src="template/images/via/70x70.png" alt=""></a></li>
                                    </ul>
                                </div><!--pf-gallery end-->
                            </div><!--widget-portfolio end-->
                        </div><!--right-sidebar end-->
                    </div>
                </div>
            </div><!-- main-section-data end-->
        </div>
    </div>
</main>

@code {

}
