@using Microsoft.AspNetCore.Components.Routing
@using JolijoberProject.Shared.SharedKernal.ExtensionMethod

@inject NavigationManager Navigation

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            @if (routeData.PageType == typeof(Jolijober.Views.Pages.ShowJob) || routeData.PageType == typeof(Jolijober.Views.Pages.DetailsShowJob))
            {
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(ShowLayout)" />
            }
            else
            {
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @if (!context.User.Identity.IsAuthenticated)
                        {
                            <p>302</p>
                        }
                        else
                        {
                            <p>You are not authorized to access this resource.</p>
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
            }
        </Found>
        <NotFound>
            @*<LayoutView Layout="@typeof(MainLayout)">*@
            <RedirectToLogin IsAuth="false" UrlReferrer="@Navigation.Uri.RemoveHostUri(true)" />
            @*</LayoutView>*@
        </NotFound>
    </Router>
</CascadingAuthenticationState>


